<section id="fourth" class="main">
    <header>
        <div class="container">
            <h2>Contáctate</h2>
            <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum
                dolor sit amet consequat<br />
                feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod
                lorem ipsum dolor sit amet.</p>
        </div>
    </header>
    <div class="content style4 featured">
        <div class="container medium">
            <form method="post" action="/contacto" class="formContacto">
                <div class="row gtr-50">
                    <div class="col-6 col-12-mobile"><input class="validarContacto" value="" type="text" name="nombreContacto" placeholder="Nombre"/></div>
                    <div class="col-6 col-12-mobile"><input class="validarContacto" value="" type="text" name="emailContacto" placeholder="Email"/></div>
                    <div class="col-12"><textarea class="validarContacto" value="" name="mensajeContacto" placeholder="Mensaje"></textarea></div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li><input type="submit" class="button" value="Enviar mensaje" /></li>
                            <li><input type="reset" class="button alt" value="Limpiar" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>