<section id="footer" style="padding-top: 0px !important;">
    <header>
        <div class="">
            <!-- <h2>Contáctate</h2> -->
            <!-- <div class="mapa"> -->
            <!-- <iframe aria-disabled="true" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" -->
            <iframe aria-disabled="true" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=-4.628725448856131%2C36.53632491688703%2C-4.625533620128409%2C36.537714944018255&amp;layer=mapnik&amp;marker=36.53701993357606%2C-4.627129534492269"
                style="margin: 0px;"></iframe><br />
                <!-- style="border: solid 0.5px #909090;"></iframe><br /> -->
            <!-- </div> -->
        </div>
    </header>

    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <div class="copyright">
        <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>