<div class="peeking-form-w position-right">
    <div class="pf-trigger">Programar llamada</div>
    <div class="pf-form">
        <div role="form" class="wpcf7" id="wpcf7-f740-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="/programarLlamada" method="post" class="wpcf7-form">
                <h4>Programá una llamada</h4>
                <p>Completá el formulario de abajo para agendar una llamada totalmente gratis y confidencial</p>
                <div style="padding-top: 10px;">
                    <label>Tú nombre</label>
                    <span class="wpcf7-form-control-wrap your-name">
                        <input type="text" name="nombre" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required validar" aria-required="true"
                            aria-invalid="false">
                    </span>
                </div>
                <div>
                    <label>Tú teléfono</label>
                    <span class="wpcf7-form-control-wrap your-tel">
                        <input type="tel" name="telefono" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required validar"
                            aria-required="true" aria-invalid="false">
                    </span>
                </div>
                <div>
                    <label>Tú email</label>
                    <span class="wpcf7-form-control-wrap your-email">
                        <input type="email" name="email" value="" size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email validar"
                            aria-required="true" aria-invalid="false">
                    </span>
                </div>
                <div>
                    <label>Breve descripción de tu caso</label>
                    <span class="wpcf7-form-control-wrap your-message">
                        <textarea name="mensaje" rows="2" cols="40" class="wpcf7-form-control wpcf7-textarea validar"
                            aria-invalid="false" style="min-height: 0px !important;"></textarea>
                    </span>
                </div>
                <p>
                    <input type="submit" value="Solicitar llamada" class="wpcf7-form-control wpcf7-submit os-btn cyan">
                    <span class="ajax-loader"></span>
                </p>
            </form>
        </div>
    </div>
</div>