<section id="second" class="main">
    <header>
        <div class="container">
            <h2><%= segundaSeccion.titulo %></h2>
            <p><%= segundaSeccion.textoTitulo %></p>
        </div>
    </header>
    <div class="content dark style2">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                        <h3>Distintos programas</h3>
                        <p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
                            tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante
                            vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus
                            augue cubilia vivamus nisi eu eget ornare varius gravida euismod. Gravida dis
                            lorem ipsum dolor placerat magna tempus feugiat.</p>
                        <p>Lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
                            accumsan vivamus augue cubilia vivamus nisi eu eget ornare varius gravida dolore
                            euismod lorem ipsum dolor.</p>
                        <footer>
                            <!-- <a href="#third" class="button scrolly">Accumsan nisi tempor</a> -->
                        </footer>
                    </section>
                </div>
                <div class="col-8 col-12-narrow">
                    <div class="row">
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/pic01.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/pic02.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/pic03.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/pic04.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/pic05.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/pic06.jpg"
                                    alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>